<div class="container-fluid">
         <div class="row">
            <div class="col-sm-3 col-md-3">
               <div class="panel panel-primary">
                  <div class="panel-heading">
                     <h3 class="panel-title">My Roster</h3>
                  </div>
                  <div class="panel-body">
                     <ul class="nav ">
                        <li class="active"><a href="#">Tom Brady</a>
                        </li>
                        <li><a href="#">Rob Grandowshi</a>
                        </li>
                        <li><a href="#">David Johnson</a>
                        </li>
                        <li><a href="#">John Doe</a>
                        </li>
                        <li><a href="#">Steve James</a>
                        </li>
                        <li><a href="#">Mike Nim</a>
                        </li>
                        <li><a href="#">John Doe</a>
                        </li>
                        <li><a href="#">Steve James</a>
                        </li>
                        <li><a href="#">Mike Nim</a>
                        </li>
                        <li><a href="#">John Doe</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <!-- panel -->
            </div>
            <!--/span-->
            <div class="col-sm-9 col-md-8">
               <div class="jumbotron custum-jumbotron">
                  <br />
                  <div class="media">
                     <a class="media-left" href="#">
                     <img src="images/james.png" />
                     </a>
                     <div class="media-body pt15">
                        <h3 class="media-heading">John Doe</h3>
                        <p><a href="" class="btn btn-success">Follow</a>&nbsp; <a href="" class="btn btn-primary">Message</a></p>
                     </div>
                  </div>
                  <br />
                  <div class="panel panel-info">
                     <div class="panel-heading">
                        <h3 class="panel-title">About</h3>
                     </div>
                     <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        </p>
                     </div>
                  </div>
                  <div class="comments">
                     <div class="comment-wrap">
                        <div class="photo">
                           <div class="avatar" style="background-image: url('images/128.jpg')"></div>
                        </div>
                        <div class="comment-block">
                           <h4>John Doe<span class="pull-right"><small>Aug 24, 2014 @ 2:35 </small></span></h4>
                           <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus iste nostrum dolorem natus recusandae incidunt voluptatum. Eligendi voluptatum ducimus architecto tempore, quaerat explicabo veniam fuga corporis totam reprehenderit quasi
                              sapiente modi tempora at perspiciatis mollitia, dolores voluptate. Cumque, corrupti?
                           </p>
                           <div class="bottom-comment">
                              <ul class="comment-actions">
                                 <li class="complain">Like</li>
                                 <li class="reply">Report</li>
                                 <li class="reply">Comment</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="comment-wrap">
                        <div class="photo">
                           <div class="avatar" style="background-image: url('images/129.jpg')"></div>
                        </div>
                        <div class="comment-block">
                           <h4>John Doe<span class="pull-right"><small>Aug 24, 2014 @ 2:35 </small></span></h4>
                           <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus iste nostrum dolorem natus recusandae incidunt voluptatum. Eligendi voluptatum ducimus architecto tempore, quaerat explicabo veniam fuga corporis totam.</p>
                           <div class="bottom-comment">
                              <ul class="comment-actions">
                                 <li class="complain">Like</li>
                                 <li class="reply">Report</li>
                                 <li class="reply">Comment</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!--/span-->
         </div>
         <!--/row-->
      </div>