<div class="col-sm-3 col-md-3">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title">Who to follow</h3>
      </div>
      <div class="panel-body">
         <ul class="nav">
            <% User.last(5).each do |user| %>
              <li class=""><%= link_to user.name,user_path(user.id) %></li>
            <% end %>
         </ul>
      </div>
   </div>
   <!-- panel -->
   <div class="panel panel-primary">
      <div class="panel-body">
         <ul class="nav ">
            <li><a href="#">&copy; 2018 Nampit</a>
            </li>
            <li><a href="#">About</a>
            </li>
            <li><a href="#">Help</a>
            </li>
            <li><a href="#">Terms</a>
            </li>
            <li><a href="#">Privacy Policy</a>
            </li>
         </ul>
      </div>
   </div>
   <!-- panel -->
   <!--/sidebar-nav-fixed -->
</div>