<div class="col-sm-3 col-md-3">
  <% if current_user.present? %>
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title">My Roster</h3>
      </div>
      <div class="panel-body">
         <ul class="nav ">
            <% current_user.follows_by_type('Player').each do |roaster| %>
              <% player = Player.find(roaster.followable_id) %>
              <li><%= link_to player.name,player_path(player) %></a></li>
            <% end %>
         </ul>
      </div>
   </div>
  <% end %>
   <!-- panel -->
</div>